<div className="py-6 flex flex-col gap-1">
          <div
            className="h-full text-sm text-textColor my-2 md:w-2/3 before:indent-1 w-full outline-1 outline-gray-400 bg-gray-100 rounded-lg outline
            before:w-[80%] before:inline-block before:content-['HTML'] before:bg-primary before:animate-[fill_2s_0s] before:h-full before:rounded-lg before:text-textColor  "
          >
            80%
          </div>
          <div
            className="h-full text-sm my-2 md:w-2/3 outline-1 outline-gray-400 bg-gray-100 rounded-lg outline
            before:w-[75%] before:inline-block before:content-['CSS'] before:bg-secondary before:indent-1 before:animate-[fill_2s_0s] before:h-full before:rounded-lg before:text-textColor  "
          >
            75%
          </div>
          <div
            className="h-full text-sm my-2 md:w-2/3 outline-1 outline-gray-400 bg-gray-100 rounded-lg outline
            before:w-[70%] before:inline-block before:content-['JavaScript'] before:bg-primary before:indent-1 before:animate-[fill_2s_0s] before:h-full before:rounded-lg before:text-textColor  "
          >
            70%
          </div>
          <div
            className="h-full text-sm my-2 md:w-2/3 outline-1 outline-gray-400 bg-gray-100 rounded-lg outline
            before:w-[70%] before:inline-block before:content-['React'] before:bg-secondary before:indent-1 before:animate-[fill_2s_0s] before:h-full before:rounded-lg before:text-textColor  "
          >
            70%
          </div>
          <div
            className="h-full text-sm my-2 md:w-2/3 outline-1 outline-gray-400 bg-gray-100 rounded-lg outline
            before:w-[65%] before:inline-block before:content-['NodeJs'] before:bg-primary before:indent-1 before:animate-[fill_2s_0s] before:h-full before:rounded-lg before:text-textColor  "
          >
            65%
          </div>
          <div
            className="h-full text-sm my-2 md:w-2/3 outline-1 outline-gray-400 bg-gray-100 rounded-lg outline
            before:w-[65%] before:inline-block before:content-['Express'] before:bg-secondary before:indent-1 before:animate-[fill_2s_0s] before:h-full before:rounded-lg before:text-textColor  "
          >
            65%
          </div>
          <div
            className="h-full text-sm my-2 md:w-2/3 outline-1 outline-gray-400 bg-gray-100 rounded-lg outline
            before:w-[60%] before:inline-block before:content-['MongoDB'] before:bg-primary before:indent-1 before:animate-[fill_2s_0s] before:h-full before:rounded-lg before:text-textColor  "
          >
            60%
          </div>
        </div>
        <div className="flex justify-between items-center" dir="ltr">
          <div className="about__icons-items">
            <svg className="h-24 w-24 text-center">
              <use xlinkHref="img/svg-icons.svg#html5"></use>
            </svg>
          </div>
          <div className="about__icons-items">
            <svg className="h-24 w-24 text-center">
              <use xlinkHref="img/svg-icons.svg#css3"></use>
            </svg>
          </div>
          <div className="about__icons-items">
            <svg className="h-24 w-24 text-center">
              <use xlinkHref="img/svg-icons.svg#sass"></use>
            </svg>
          </div>
          <div className="about__icons-items">
            <svg className="h-24 w-24 text-center">
              <use xlinkHref="img/svg-icons.svg#javascript"></use>
            </svg>
          </div>
          <div className="about__icons-items">
            <svg className="h-24 w-24 text-center">
              <use xlinkHref="img/svg-icons.svg#react"></use>
            </svg>
          </div>
          <div className="about__icons-items">
            <svg className="h-24 w-24 text-center">
              <use xlinkHref="img/svg-icons.svg#nodejs"></use>
            </svg>
          </div>
          <div className="about__icons-items">
            <svg className="h-24 w-24 text-center">
              <use xlinkHref="img/svg-icons.svg#express"></use>
            </svg>
          </div>
          <div className="about__icons-items">
            <svg className="h-24 w-24 text-center">
              <use xlinkHref="img/svg-icons.svg#mongodb"></use>
            </svg>
          </div>
        </div>